/* COLORS */
$bg-orange: #ffa000;
$bg-light-green: #a5d6a7;
$bg-light-grey: #f3f3f3;
$shadow-grey: #bdbdbd;
$border-grey: #e0e0e0;
$main-blue: #0064ff;
$header-green: #5ebe00;
$header-dark-grey: #333;

/* SIZES */
$screen-s: 576px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;